mat-grid-tile {
  background: lightblue;
  // height: 100% - 88px;
}

.flex-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-header {
  align-content: flex-start;
}

.flex-main {
  min-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
