#url-form {
  // margin-left: 50px;
  // margin-right: 50px;
  min-width: 350px;
  max-width: 1000px;
  width: 95%;
  margin-bottom: 20px;
  align-self: center;
}

#code-form {
  width: 50%;
  margin-bottom: 20px;
  max-width: 700px;
  min-width: 300px;
  align-self: center;
}

.mat-label {
  color: black;
}

.form {
  width: 100%;
}

#progress-bar {
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  min-width: 200px;
  max-width: 710px;
  width: 100%;
}

#container-progress {
  margin: 50px;
  display: flex;
}

.container-outer {
  // align-self: center;  // Moves tabs to center of window
  width: 100%;
  display: flex;
  flex-direction: column;
  // height: 300px;
}

.btn-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.make-center {
  margin: auto;
}

.make-center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}
