<div class="container-outer">
  <!-- IF(Server Error): Display Error Msg -->
  <h2 *ngIf="this.serverError" style="color: red">
    Sorry, the server cannot be reached at the moment ='(
  </h2>
  <h4 *ngIf="this.serverError" style="color: blue">
    Please try again later today!
  </h4>

  <!-- Add material tabs to organize downloader and scheduler -->
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    style="height: 330px"
  >
    <mat-tab label="Youtube Downloader">
      <div style="height: 100%">
        <!-- Form: Url Input -->
        <div id="url-form" class="make-center">
          <form [formGroup]="homeForm">
            <mat-form-field class="form">
              <mat-label class="mat-label">YouTube Url</mat-label>
              <input
                required
                type="url"
                formControlName="url"
                matInput
                #message
                maxlength="256"
                placeholder="Ex: www.youtube.com/watch?v=12345"
              />
              <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
            </mat-form-field>
          </form>
        </div>
        <!-- Form: Passcode Input -->
        <div id="code-form" class="make-center">
          <form [formGroup]="homeForm" required>
            <mat-form-field class="form">
              <mat-label class="mat-label">Authorization Code</mat-label>
              <input
                required
                type="password"
                formControlName="passcode"
                matInput
                maxlength="100"
              />
            </mat-form-field>
          </form>
        </div>
        <!-- Form: Playlist Limit Input -->
        <div id="code-form" class="make-center">
          <form [formGroup]="homeForm">
            <mat-form-field class="form">
              <mat-label class="mat-label">Playlist Limit</mat-label>
              <input
                type="number"
                formControlName="limitVideos"
                matInput
                maxlength="10"
              />
            </mat-form-field>
          </form>
        </div>
        <!-- Download Controls: Buttons to execute download. -->
        <div class="btn-container make-center">
          <!-- <form [formGroup]="homeForm"> -->
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="this.btnDisabled.single"
            (click)="this.downloadSingle()"
          >
            Download Video
          </button>
          <!-- </form> -->
          <mat-slide-toggle
            style="align-self: center"
            (change)="this.handleAudioOnlyToggle()"
            >Audio Only</mat-slide-toggle
          >
          <button
            mat-raised-button
            color="accent"
            [disabled]="this.btnDisabled.playlist"
            (click)="this.downloadPlaylist()"
          >
            Downlaod Playlist
          </button>
          <!-- </form> -->
        </div>
        <!-- Loading/Progress Bar -->
        <div id="container-progress" *ngIf="this.loading.inProgress">
          <div id="progress-bar">
            <mat-progress-bar
              color="accent"
              [mode]="loading.mode"
              [value]="loading.percentDone"
            ></mat-progress-bar>
          </div>
        </div>
        <!-- <div>
        <a href="{{ this.url }}" download>Download Now</a>
      </div> -->
      </div>
    </mat-tab>
    <mat-tab label="Pic-To-Calendar" style="height: 100%">
      <!-- <div appDrag (files)="filesDropped($event)"> -->
      <div class="make-center2">
        <!-- <button mat-raised-button>Upload Screenshot</button> -->
        <form
          [formGroup]="schedulePicForm"
          (ngSubmit)="handleConvertToCalendar()"
        >
          <!-- <mat-form-field> -->
          <mat-label>Upload Schedule Image</mat-label>
          <br />
          <br />
          <input
            type="file"
            id="schedule-pic"
            accept="image/png, image/jpeg"
            formControlName="scheduleImage"
          />
          <button type="submit">Convert to Calendar</button>
          <!-- </mat-form-field> -->
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
