<!-- <p>home-page works!</p> -->

<div class="container-outer">
  <form class="example-form" [formGroup]="homeForm">
    <mat-form-field class="example-full-width">
      <mat-label style="color: black">YouTube Url</mat-label>
      <input
        type="url"
        formControlName="url"
        matInput
        #message
        maxlength="256"
        placeholder="Ex: www.youtube.com/watch?v=12345"
      />
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    </mat-form-field>
  </form>
  <div class="container">
    <button mat-raised-button color="primary" (click)="this.downloadSingle()">
      Download Single
    </button>
    <mat-slide-toggle
      style="align-self: center"
      (change)="this.handleAudioOnlyToggle()"
      >Audio Only</mat-slide-toggle
    >
    <button mat-raised-button color="accent" (click)="this.downloadPlaylist()">
      Downlaod Playlist
    </button>
  </div>
</div>
